<mat-card>
    <mat-card-header>
      <mat-card-title>SME Trade Openness</mat-card-title>
      <mat-card-subtitle>Cross-border trade is significantly lower for SMEs than for large enterprises</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- app.component.html -->
      <angular-billboard *ngFor="let chart of charts" [chart]="chart">
      </angular-billboard>

      <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum <br>
      lorem ipsum lorem lorem lorem lorem </p>
    </mat-card-content>
</mat-card>


