<mat-card>
    <mat-card-header>
      <mat-card-title>SME Trade Openness</mat-card-title>
      <mat-card-subtitle>Cross-border trade is significantly lower for SMEs than for large enterprises</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- app.component.html -->
      <angular-billboard *ngFor="let chart of charts" [chart]="chart">
      </angular-billboard>

      <p>Trade openness is calculated as (exports + imports) / (turnover + purchases of goods and services).
        Export intensity is measured as the share of exports in turnover, and import intensity as the share
        of imports in purchases of goods and services</p>
      <p>Data source: <a href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Statistics_on_small_and_medium-sized_enterprises#Indicators_of_international_trade_for_different_types_of_enterprises" target="_blank
        ">Eurostat</a></p>
    </mat-card-content>
</mat-card>


