<mat-toolbar role="heading" color="accent">
    <mat-toolbar-row>
      <span class="mat-headline">{{ title }}</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <nav mat-tab-nav-bar>
            <a mat-tab-link
               *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
              {{link.label}}
            </a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>




