<mat-toolbar color="primary" style="white-space: pre-wrap"><p class="mat-subheading-1">All the latest
  news regarding cross-border trading of European SMEs.
</p></mat-toolbar>
<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let article of data.articles">
      <mat-expansion-panel-header style="height: 80px">
        {{ article.title.slice(0,50) }} ...
      </mat-expansion-panel-header>
      <p>{{ article.description }}</p>
      <mat-action-row>
          <button mat-button color="primary"><a href="{{ article.url }}" target="_blank">READ MORE</a></button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

