/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  width:95%;
  max-width: 700px;
  margin: 0 auto;
}

